@charset "UTF-8";
img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-1800 {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-2050 {
  max-width: 2050px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* медиазапрос 320зч */
@media (max-width: 320px) {
  .content-1200 {
    padding-left: 0;
    padding-right: 0;
  }
}

/* section-top-bar */
.section-top-bar {
  background-color: #333;
}

.row-top-bar {
  color: #777;
  min-height: 45px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* currency */
.currency {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency__link {
  color: #777;
  text-decoration: none;
  margin-left: 4px;
}

/* register */
.register {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 83px;
  min-height: 45px;
}

.register__r {
  margin-right: 36px;
}

.register__link {
  color: #999;
  text-decoration: none;
}

/* cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 147px;
  height: 45px;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  background-color: #00c8c8;
}

.cart__ico-cart {
  font-size: 14px;
}

.cart__amount {
  color: #fff;
  text-decoration: none;
}

/* медиазапрос 720px */
@media (max-width: 720px) {
  .row-top-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .currency {
    width: 100%;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .register {
    width: 100%;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .cart {
    width: 100%;
  }
}

/* section-nav */
.section-nav {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
}

/* row-nav */
.row-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* logo */
.col-logo {
  width: 300px;
}

.logo__link {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* nav */
.col-nav {
  width: 1170px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 8px 16px;
  border-radius: 4px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav__item {
  margin-left: 60px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #222;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:hover .nav__ico-angel {
  color: #00c8c8;
}

.nav__ico-angel {
  color: #989898;
  margin-top: 12px;
}

/* search */
.col-search {
  width: 300px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 190px;
  border: 1px solid #e7e7e7;
  margin-left: auto;
}

.search__s {
  border: none;
  height: 30px;
  width: 160px;
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
}

.search__s::-webkit-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s:-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s::-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s::placeholder {
  color: #989898;
  opacity: 1;
}

.search__btn {
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__ico-search {
  color: #989898;
  font-size: 13px;
}

/* slider */
.section-slider {
  background-color: #f8f8f8;
}

.content-slider {
  min-height: 920px;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

/* sidebar */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sidebar__item {
  margin-right: 54px;
}

.sidebar__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #727272;
}

/* section-catalog */
.section-catalog {
  margin-bottom: 60px;
}

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 500px 1fr;
      grid-template-rows: 500px 1fr;
  grid-gap: 30px;
}

.catalog__item--big {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

/* section-lookbook */
.section-lookbook {
  margin-bottom: 125px;
}

/* lookbook */
.row-lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 530px;
}

.lookbook {
  max-width: 663px;
  margin-right: 30px;
  padding-right: 60px;
  background-color: #f8f8f8;
  background-image: url("../img/lookbook-mens.png");
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: bottom;
}

.lookbook:last-child {
  margin-right: 0;
}

.lookbook__title {
  margin-top: 100px;
  text-align: right;
  color: #575153;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.lookbook__subtitle {
  text-align: right;
  margin-bottom: 30px;
  color: #575153;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

.lookbook__descr {
  color: #727272;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  width: 50%;
  margin-left: auto;
  margin-bottom: 32px;
}

.lookbook__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 59px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #454647;
  border: 1px solid #737373;
  text-decoration: none;
  margin-left: auto;
}

.lookbook__btn:hover {
  color: #f8f8f8;
  background-color: #00c8c8;
  border: none;
}

/* section-footer */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
}

/* row-footer */
.row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: #575153;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  color: #727272;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

/* section-banner */
.section-banner {
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.row-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  background-color: #333;
  width: 570px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__title {
  color: #fff;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.banner__subtitle {
  color: #fff;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.social {
  font-size: 36px;
  color: #fff;
  background-color: #00c8c8;
  width: 570px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.social__item {
  margin-right: 60px;
}

.social__item:last-child {
  margin-right: 0;
}

/* section copy */
.section-copy {
  background-color: #333;
}

.row-copy {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  color: #999;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.design {
  color: #777;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: 36px;
}

.dev {
  color: #777;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
