@charset "UTF-8";
body {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-1800 {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-2050 {
  max-width: 2050px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* медиазапрос 870px */
@media (max-width: 870px) {
  .content-catalog {
    padding-left: 0;
    padding-right: 0;
  }
}

/* медиазапрос 720px */
@media (max-width: 720px) {
  .content-1200 {
    padding-left: 0;
    padding-right: 0;
  }
  .content-copy {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* section-top-bar */
.section-top-bar {
  background-color: #333;
}

.row-top-bar {
  color: #777;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* currency */
.currency {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.currency__link {
  color: #777;
  text-decoration: none;
  margin-left: 4px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.currency__link:hover,
.currency__link:focus {
  color: #999;
}

/* register */
.register {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 83px;
  min-height: 45px;
}

.register__link {
  color: #999;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.register__link:hover,
.register__link:focus {
  color: #bbb;
}

.register__r {
  margin-right: 36px;
}

/* cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 147px;
  height: 45px;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  background-color: #00c8c8;
}

.cart__ico-cart {
  font-size: 14px;
}

.cart__amount {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.cart__amount:hover,
.cart__amount:focus {
  text-decoration: underline;
}

/* медиазапрос 720px */
@media (max-width: 720px) {
  .row-top-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .currency {
    width: 100%;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .register {
    width: 100%;
    min-height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .cart {
    width: 100%;
  }
}

/* section-nav */
.section-nav {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
}

/* row-nav */
.row-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* logo */
.logo {
  width: 300px;
}

.logo__link {
  color: #222;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* nav */
.nav {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__burger {
  color: #222;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav__burger--open {
  display: none;
}

.nav__burger--close {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.nav__item {
  margin-left: 60px;
  position: relative;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #222;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:hover .nav__ico-angel {
  color: #00c8c8;
}

.nav__ico-angel {
  color: #989898;
  margin-top: 12px;
}

/* nav dropdown */
.nav__dropdown {
  position: absolute;
  width: 467px;
  height: 527px;
  top: 54px;
  background-color: #f8f8f8;
  z-index: 999;
  -webkit-box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
          box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.nav__link:focus + .nav__dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown__list {
  width: 50%;
}

.dropdown__title {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.dropdown__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown__link {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #727272;
  text-decoration: none;
  line-height: 30px;
}

.dropdown__link:hover {
  text-decoration: underline;
}

.dropdown__banner {
  background-color: #333;
  width: 407px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown__banner-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.dropdown__banner-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

/* search */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  border: 1px solid #e7e7e7;
  margin-left: auto;
  width: 190px;
}

.search__s {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border: none;
  height: 30px;
  width: 160px;
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
}

.search__s::-webkit-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s:-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s::-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

.search__s::placeholder {
  color: #989898;
  opacity: 1;
}

.search__btn {
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__ico-search {
  color: #989898;
  font-size: 13px;
}

/* slider__link */
.slider__btn {
  position: absolute;
  bottom: 125px;
  right: 400px;
  z-index: 998;
}

.slider__link {
  width: 342px;
  height: 59px;
  border: 1px solid #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #454647;
  text-transform: uppercase;
  text-decoration: none;
}

.slider__link:hover {
  color: #fff;
  background-color: #00c8c8;
  border: none;
}

/* медиазапрос 1800px */
@media (max-width: 1800px) {
  .row-nav {
    max-width: 1170px;
    margin: 0 auto;
  }
  .logo {
    width: auto;
    background-color: #f8f8f8;
    padding: 5px 10px;
  }
  .nav {
    width: auto;
    margin-left: auto;
    background-color: rgba(248, 248, 248, 0.5);
    padding: 5px 10px;
  }
  .search {
    margin-left: 30px;
  }
}

@media (max-width: 1220px) {
  .row-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-bottom: 30px;
  }
  .nav {
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
  }
  .nav__list {
    margin: 0 auto;
  }
  .search {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .slider__link {
    margin: 0 auto;
  }
  .slider__btn {
    position: static;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .content-nav {
    padding: 0;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__burger {
    margin-bottom: 16px;
    display: block;
  }
  .nav__burger--open {
    display: block;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }
  .nav__item {
    margin-left: 0;
    position: relative;
    margin-bottom: 24px;
  }
  .nav__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-decoration: none;
    font-size: 16px;
  }
  .nav__ico-angel {
    margin-top: 0;
    margin-left: 16px;
  }
  .nav__dropdown {
    top: 32px;
  }
}

@media (max-width: 500px) {
  .nav__dropdown {
    left: -30px;
  }
}

@media (max-width: 420px) {
  .slider__link {
    width: 95%;
  }
}

/* slider */
.section-slider {
  background-color: #f8f8f8;
  margin-bottom: 60px;
}

.content-slider {
  min-height: 920px;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position-x: 450px;
  position: relative;
  background-size: contain;
}

.slider__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #575153;
  font-size: 450px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  top: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hr {
  max-width: 1770px;
  height: 1px;
  background-color: #eee;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* медиазапросы */
@media (max-width: 1600px) {
  .slider__title {
    font-size: 350px;
    font-weight: 600;
  }
}

@media (max-width: 1220px) {
  .slider__title {
    font-size: 350px;
    font-weight: 600;
    top: 0;
  }
}

@media (max-width: 912px) {
  .content-slider {
    background-position-x: 350px;
  }
  .slider__title {
    font-size: 250px;
  }
}

@media (max-width: 720px) {
  .slider__title {
    font-size: 150px;
  }
}

@media (max-width: 650px) {
  .content-slider {
    background-position-x: 100px;
    background-size: cover;
  }
}

@media (max-width: 420px) {
  .slider__title {
    font-size: 100px;
  }
}

@media (max-width: 400px) {
  .content-slider {
    background-position-x: 50px;
  }
}

/* section-sidebar */
.section-sidebar {
  margin-bottom: 45px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  margin-right: 54px;
  margin-bottom: 15px;
}

.sidebar__item:last-child {
  margin-right: 0;
}

.sidebar__link {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #727272;
  text-decoration: none;
}

.sidebar__link:hover {
  color: #00c8c8;
}

/* section-catalog */
.section-catalog {
  margin-bottom: 62px;
}

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.column-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 500px 1fr;
      grid-template-rows: 500px 1fr;
  grid-gap: 30px;
}

.column-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 500px;
      grid-template-rows: 1fr 500px;
  grid-gap: 30px;
}

.catalog__item {
  position: relative;
}

.catalog__item--big {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.catalog__cost {
  position: absolute;
  color: #9a9a9a;
  top: 15px;
  left: 15px;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  font-family: 300;
}

.catalog__cost-ico {
  font-size: 12px;
}

.catalog__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.catalog__wrap {
  height: 100%;
}

.catalog__wrap:hover {
  position: relative;
  -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 17px rgba(0, 0, 0, 0.14);
}

.catalog__wrap:hover .catalog__hover {
  display: block;
}

.catalog__hover {
  position: absolute;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 7px 17px rgba(0, 0, 0, 0.14);
          box-shadow: 0 7px 17px rgba(0, 0, 0, 0.14);
}

.catalog__item-title {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #727272;
  text-align: center;
  margin-top: 21px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 12px;
}

.catalog__item-title-ico {
  font-size: 9px;
}

.catalog__item-subtitle {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8e8c8c;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.catalog__ico-list {
  text-align: center;
  padding-bottom: 16px;
}

.catalog__ico-stack {
  cursor: pointer;
  margin-right: 10px;
}

.catalog__ico-stack:last-child {
  margin-right: 0;
}

.catalog__ico-stack:hover {
  color: #00c8c8;
}

/* медиазапрос 1200px */
@media (max-width: 1200px) {
  .catalog {
    -ms-grid-columns: 870px;
        grid-template-columns: 870px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 870px) {
  .catalog {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .column {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .catalog__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .catalog__item--big {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* section-lookbook */
.section-lookbook {
  margin-bottom: 124px;
}

.content-2050--lookbook {
  padding: 0;
}

/* lookbook */
.row-lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lookbook {
  max-width: 663px;
  height: 530px;
  margin-right: 30px;
  background-color: #f8f8f8;
  background-image: url("../img/lookbook-mens.png");
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: bottom;
}

.lookbook:last-child {
  margin-right: 0;
}

.lookbook--mens {
  background-image: url("../img/lookbook-mens.png");
}

.lookbook--womens {
  background-image: url("../img/lookbook-womens.png");
}

.lookbook--your {
  background-image: url("../img/lookbook-your.png");
}

.lookbook__content {
  margin-top: 98px;
  margin-right: 56px;
}

.lookbook__title {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 54px;
  text-align: right;
  color: #575153;
  text-transform: uppercase;
}

.lookbook__subtitle {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 54px;
  text-align: right;
  margin-bottom: 30px;
  color: #575153;
  text-transform: uppercase;
}

.lookbook__descr {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #727272;
  text-align: right;
  width: 55%;
  margin-left: auto;
  margin-bottom: 30px;
}

.lookbook__link {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 59px;
  text-transform: uppercase;
  color: #454647;
  border: 1px solid #737373;
  text-decoration: none;
  margin-left: auto;
}

.lookbook__link:hover {
  color: #f8f8f8;
  background-color: #00c8c8;
  border: none;
}

@media (max-width: 1800px) {
  .row-lookbook {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .lookbook {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .lookbook:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 620px) {
  .lookbook {
    margin-bottom: 30px;
  }
  .lookbook:last-child {
    margin-bottom: 0;
  }
  .lookbook__content {
    padding: 15px;
    margin-top: 98px;
    margin-right: 15px;
    margin-left: auto;
    width: 60%;
    background-color: rgba(248, 248, 248, 0.5);
  }
  .lookbook__descr {
    width: auto;
  }
}

@media (max-width: 520px) {
  .lookbook__content {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .lookbook__content {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .lookbook__subtitle {
    font-size: 36px;
  }
}

/* section-footer */
.section-footer {
  padding-top: 64px;
  padding-bottom: 62px;
  background-color: #f8f8f8;
}

/* row-footer */
.row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #727272;
}

.footer__item--contact {
  margin-top: 14px;
}

.footer__item--contact:last-child {
  margin-top: 10px;
}

.footer__link {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #727272;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  color: #525252;
  text-decoration: underline;
}

/* медиазапросы */
@media (max-width: 960px) {
  .row-footer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-list {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .footer-list:last-child {
    margin-bottom: 0;
  }
  .footer__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .row-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-list {
    width: 100%;
    margin-right: 0;
    margin-left: 30px;
  }
}

/* section-banner */
.section-banner {
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.row-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  background-color: #333;
  width: 570px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__title {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.banner__subtitle {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #00c8c8;
  width: 570px;
  height: 200px;
}

.social__link {
  font-size: 36px;
  margin-right: 60px;
  color: #fff;
}

.social__link:last-child {
  margin-right: 0;
}

/* медиазапрос */
@media (max-width: 860px) {
  .row-banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .section-banner {
    padding-bottom: 0;
  }
  .banner {
    margin-bottom: 0;
  }
  .banner__title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .banner__subtitle {
    font-size: 24px;
  }
  .social__link {
    margin-right: 32px;
  }
}

/* section copy */
.section-copy {
  background-color: #333;
}

.row-copy {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #999;
}

.design {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: auto;
  color: #777;
}

.dev {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #777;
}

.copy__item {
  line-height: 45px;
  margin-right: 36px;
}

.copy__item:last-child {
  margin-right: 0;
}

.copy__link {
  color: #777;
  text-decoration: none;
}

.copy__link:hover,
.copy__link:focus {
  color: #999;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .row-copy {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .copy__item {
    margin: 0;
    margin-right: 15px;
  }
  .copy__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 584px) {
  .copy__item {
    width: 100%;
    margin: 0;
  }
}
