/* section-nav */
.section-nav {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: transparent;
}

/* row-nav */
.row-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* logo */
.logo {
    width: 300px;
}
.logo__link {
    color: #222;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* nav */
.nav {
    width: 1170px;
    display: flex;
}
.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}
.nav__item {
    margin-left: 60px;
    position: relative;
}
.nav__item:hover .nav__dropdown {
    display: block;
}

.nav__item:first-child {
    margin-left: 0;
}
.nav__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #222;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.nav__link:hover,
.nav__link:hover .nav__ico-angel {
    color: #00c8c8;
}
.nav__ico-angel {
    color: #989898;
    margin-top: 12px;
}

/* nav dropdown */
.nav__dropdown {
    position: absolute;
    width: 467px;
    height: 527px;
    top: 54px;
    background-color: #f8f8f8;
    z-index: 999;
    box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.dropdown__lists {
    display: flex;
    justify-content: space-between;
}
.dropdown__list {
    width: 50%;
}
.dropdown__title {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #575153;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.dropdown__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown__item {
    margin-bottom: 14px;
}
.dropdown__link {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #727272;
    font-weight: 300;
    text-decoration: none;
}
.dropdown__link:hover {
    text-decoration: underline;
}
.dropdown__banner {
    background-color: #333;
    width: 407px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown__banner-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.dropdown__banner-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

/* search */
.search {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 190px;
    border: 1px solid #e7e7e7;
    margin-left: auto;
    width: 190px;
}
.search__s {
    border: none;
    height: 30px;
    width: 160px;
    padding: 0;
    padding-left: 10px;
    background-color: transparent;
}
.search__s::placeholder {
    color: #989898;
    opacity: 1;
}
.search__btn {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search__ico-search {
    color: #989898;
    font-size: 13px;
}

/* slider__link */
.slider__btn {
    position: absolute;
    bottom: 125px;
    right: 400px;
}
.slider__link {
    width: 342px;
    height: 59px;
    border: 1px solid #737373;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #454647;
    text-transform: uppercase;
    text-decoration: none;
}
.slider__link:hover {
    color: #fff;
    background-color: #00c8c8;
    border: none;
}

/* медиазапрос 1800px */
@media (max-width: 1800px) {
    .row-nav {
        max-width: 1170px;
        margin: 0 auto;
    }
    .logo {
        width: auto;
        background-color: #f8f8f8;
        padding: 5px 10px;
    }
    .nav {
        width: auto;
        margin-left: auto;
        background-color: rgba($color: #f8f8f8, $alpha: 0.5);
        padding: 5px 10px;
    }
    .search {
        margin-left: 30px;
    }
}

@media (max-width: 1220px) {
    .row-nav {
        flex-wrap: wrap;
    }
    .logo {
        width: 100%;
        background-color: transparent;
        text-align: center;
        margin-bottom: 30px;
    }
    .nav {
        width: 100%;
        background-color: transparent;
        margin-bottom: 30px;
    }
    .nav__list {
        margin: 0 auto;
    }
    .search {
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .slider__link {
        margin: 0 auto;
    }
    .slider__btn {
        position: static;
        width: 100%;
    }
}

@media (max-width: 720px) {
    .content-nav {
        padding: 0;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .nav__item {
        margin-left: 0;
        position: relative;
        margin-bottom: 24px;
    }
    .nav__link {
        flex-direction: row;
        text-decoration: none;
        font-size: 16px;
    }
    .nav__ico-angel {
        margin-top: 0;
        margin-left: 16px;
    }
}

@media (max-width: 420px) {
    .slider__link {
        width: 95%;
    }
}