/* slider */
.section-slider {
    background-color: #f8f8f8;
}
.content-slider {
    min-height: 920px;
    background-image: url('../img/slide-2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}
